VITE_BRAINTREE_MERCHANT_ID=
VITE_BRAINTREE_OAUTH_CLIENT_ID=
VITE_BRAINTREE_ENVIRONMENT=sandbox

# Server Environment Variables (Merchant A)
BRAINTREE_MERCHANT_ID=
BRAINTREE_OAUTH_CLIENT_ID=
BRAINTREE_OAUTH_CLIENT_SECRET=
BRAINTREE_ENVIRONMENT=sandbox

# Server Environment Variables (Merchant B)
BRAINTREE_PUBLIC_KEY=
BRAINTREE_PRIVATE_KEY=
