VITE_BRAINTREE_MERCHANT_ID=
VITE_BRAINTREE_OAUTH_CLIENT_ID=
VITE_BRAINTREE_ENVIRONMENT=sandbox
VITE_BRAINTREE_REDIRECT_URI=

BRAINTREE_ENVIRONMENT=sandbox

# Server Environment Variables (Merchant A)
BRAINTREE_OAUTH_CLIENT_ID=
BRAINTREE_OAUTH_CLIENT_SECRET=

# Server Environment Variables (Merchant B)
BRAINTREE_MERCHANT_ID=
BRAINTREE_PUBLIC_KEY=
BRAINTREE_PRIVATE_KEY=
